body .flip-clock-wrapper ul li a div div.inn, body .flip-clock-small-wrapper ul li a div div.inn 
{ color: #CCCCCC; background-color: #333333; } 
body .flip-clock-dot, body .flip-clock-small-wrapper .flip-clock-dot 
{ background: #323434; } 
body .flip-clock-wrapper .flip-clock-meridium a, body .flip-clock-small-wrapper .flip-clock-meridium a 
{ color: #323434; }
/* CSS do header */
header {
    height: 592px;
    background: url("../img/graphic.jpg") no-repeat center;
    color: #FFF;
    text-shadow: 1px 1px 0px #000;
}
.fotosy {
    margin-top: 15px;
}
.foto2 h3 {
    font-size: xx-large;
    margin: 0 auto;
    color: white;
}
.fotka{
    box-shadow: inset 0px -18px 0px -15px rgba(0, 0, 0, 0.35);
}
.h1first
{
    margin-top: 50px;
}
.h1second
{
    margin-bottom: 50px;
}
.oswald
{
    font-family:Oswald;
    font-size: 70px;
    color: white;
}
@font-face
{
    font-family: Oswald;
    src:url("../fonts/Oswald-Medium.ttf");
}
/* koniec CSS Header */
/* CSS Nav */
.zegar {
    float: right;
    display: flex;
}
.element{
    margin-top: 2%;
    width: 120px;
}
.like {
    margin-top: 2%;
}
.fb-lik{
    margin: 0px 0px -100px 350px;
    padding: 10px 0px 40px 45px;
    display:inline-block;
}
.twitter-share-button{
    margin: 0px 0px 0px 0px;
    padding: -7px 0px 6px -3px;
    display: inline-block;
}
nav {
    width: 100%;
    background-color: whitesmoke;
    height: 110px;
    margin: 0 auto;
}
/* text-align: center; */


.oswald-bold
{
    font-family:Oswald-bold;
    font-weight: normal;
    font-style: normal;
    font-size: 70px;
}
@font-face
{
    font-family: Oswald-bold;
    src:url("../fonts/Oswald-Bold.ttf");
}
.item{
    background: #333;    
    text-align: center;
    height: 400px !important;
}

.carousel-caption1 {
    width: 25%;
    left: 60%;
    top: 60px;
}
.fotoslajd1 {
    width: 35%;
    left: 60%;
}
.fotoslajd2 {
    top: 43%;
}
.margin-slide
{
    top: 60%;
}
.slide1{
    background: url("../img/slider.png") no-repeat center center;
    background-size: cover;
}
.slide2{
    background: url("../img/slide2.jpeg") no-repeat center center;
    background-size: cover;
}
.slide3{
    background: url("../img/slide3.jpeg") no-repeat center center;
    background-size: cover;
}
.slide4{
    background: url("../img/slide5.jpeg") no-repeat center center;
    background-size: cover;
}
.hidden-margin {
    margin-top: 1%;
}
.margin {
    margin-top: 1%;
    float: right;
}

.dogory {
    background: url("../img/strip.png") ;
    height: 40px;
}
.dogory a {
    color: #555;
}
footer {
    background-color: #383636;
    color: white;
    padding-bottom: 15px;
    margin: 0 auto;
}
.prawa {
    text-align: right;
}

.offer {
    text-align: center;
    padding: 55px 0;
}
.cssMenu{
    padding-left: 5%;
}
.ul {
    display: block;
    list-style: none;
}
.ul li {
    float:left;
    font: 14px/10px Arial, Verdana, sans-serif;
    color: #FC0;
    background-color: #299CBF;
    width: 90px;
    height: 90px;
    padding: 100px;
    -webkit-border-radius: 80px;
    -moz-border-radius: 80px;
    border-radius: 120px;
    background-color: #299CBF;

    position: relative;
    opacity: 1;
    transform: scale(1,1);
    transition-timing-function: ease-out;
    transition-duration: 250ms;
    -webkit-transform: scale(1,1);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 250ms;
    -moz-transform: scale(1,1);
    -moz-transition-timing-function: ease-out;
    -moz-transition-duration: 250ms;
}
.arrow{
    width: 49px;
    float: left;
    height: 48px;
    margin: 75px 0px 127px 0;
    padding: 0px 0px 0px 0px;
    display: block;
}

/*li:first-child { margin-left: 0; }*/

/*.ul li :after {
    position: absolute;
    width: 48px;
    height: 48px;
    background: url(img/arrow-right.png) no-repeat;
}*/

.ul li:hover,
.ul li:focus,
.ul li:active {
    background-color: #fc0;
    -webkit-animation-name:bigger;
    -webkit-animation-duration:2s;
    -webkit-animation-iteration-count:10;
    -webkit-animation-direction:alternate;
    opacity: 1;
    transform: scale(1.05,1.07);
    transition-timing-function: ease-out;
    transition-duration: 250ms;
    -webkit-transform: scale(1.5,1.5);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 250ms;
    -moz-transform: scale(1.5,1.5);
    -moz-transition-timing-function: ease-out;
    -moz-transition-duration: 250ms;
    position: relative;
    z-index: 99;
}
.ul li:hover img {
    /*    -moz-transform: scale(1.05,1.07);;
        -webkit-transform: scale(1.05,1.07);;
        -o-transform: scale(1.05,1.07);;
        -ms-transform: scale(1.05,1.07);;
        display: none;*/
}

.ul li a {
    box-shadow: inset 3px 6px 27px -5px #4C4646;
    color: #14080A;
    text-decoration:none;
    display:block;
    width: 177px;
    height: 177px;  text-align: center;
    padding: 32px 0px 0px 0px;
    left: 6%;
    top: 6%;
    //margin: -85px 0px 0px -85px;
    /* -webkit-border-radius: 80px; */
    -moz-border-radius: 80px;
    border-radius: 124px;
    background-color: #FFFFFF;
    position: absolute;
    opacity: 1;
    /* transform: scale(1,1); */
    /* transition-timing-function: ease-out; */
    /* transition-duration: 250ms; */
    -webkit-transform: scale(1,1);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 250ms;
    -moz-transform: scale(1,1);
    -moz-transition-timing-function: ease-out;
    -moz-transition-duration: 250ms;
}

